<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="navbar">
    <div class="logo">📚 Book Store</div>
    <a href="/add" class="add-btn">+ Add Book</a>
</div>

<h1>Discover Great Books</h1>

<% if (books.length > 0) { %>

<div class="book-container">

<% books.forEach(book => { %>

<div class="book-card">

<img src="/uploads/<%= book.image %>" alt="<%= book.bookName %>">

<div class="book-content">

    <h2><%= book.bookName %></h2>

    <p><strong>Author:</strong> <%= book.author %></p>

    <p><strong>Price:</strong> ₹<%= book.price %></p>

    <p><strong>Category:</strong> <%= book.category %></p>

    <div class="card-buttons">

        <a href="/book/<%= book._id %>" class="btn view-btn">
            View
        </a>

        <a href="/edit/<%= book._id %>" class="btn edit-btn">
            Edit
        </a>

        <a href="/delete/<%= book._id %>"
           class="btn delete-btn"
           onclick="return confirm('Delete this book?')">
            Delete
        </a>

    </div>

</div>


</div>

<% }) %>

</div>

<% } else { %>

<h2 class="empty">No Books Found</h2>

<% } %>

</body>
</html>
