<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= book.bookName %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="details-container">

<img
    src="/uploads/<%= book.image %>"
    alt="<%= book.bookName %>"
    class="details-image">

<h1><%= book.bookName %></h1>

<div class="info">
    <strong>Author:</strong>
    <%= book.author %>
</div>

<div class="info">
    <strong>Price:</strong>
    ₹<%= book.price %>
</div>

<div class="info">
    <strong>Category:</strong>
    <%= book.category %>
</div>

<div class="description">
    <strong>Description:</strong><br><br>
    <%= book.description %>
</div>

<div class="action-buttons">
    <a href="/" class="btn view-btn">Back Home</a>
</div>


</div>

</body>
</html>
